<div class="tx-winetreatment-product">
	<p class="tx-winetreatment-product-title"><f:translate key="alg" /></p>
	<p class="tx-winetreatment-product-name">{product.name}&nbsp;
		<f:link.action action="algPdf" arguments="{product : product}" additionalParams="{eID : 'pdf'}">
			<f:image src="EXT:wine_treatment/Resources/Public/Images/pdf.gif" alt="PDF" title="<f:translate key='generate_pdf' />" />
		</f:link.action>
	</p>
	<div class="tx-winetreatment-product-description">
		<f:format.html>{product.description}</f:format.html>
	</div>
	<div class="tx-winetreatment-product-alg">
		<f:if condition="{product.algDirective} == 0">
			<f:then>
<strong>Directive 2003/89/EC:</strong><br />
!!! NIX !!! MMMMMMMMMMMHHHHHHHH<br />
			</f:then>
			<f:else>
				<f:if condition="{product.algDirective} == 1">
					<f:then>
<strong>Keine Allergene nach der Direktive 2003/89/EC.</strong><br />
					</f:then>
					<f:else>
<strong>Enthaltene Allergene nach der Direktive 2003/89/EC:</strong><br />
<f:format.html>{product.algDirectiveText}</f:format.html>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
<br />
		<f:if condition="{product.algAlba} == 0">
			<f:then>
<strong>ALBA-Liste:</strong><br />
!!! NIX !!! MMMMMMMMMMMHHHHHHHH<br />
			</f:then>
			<f:else>
				<f:if condition="{product.algAlba} == 1">
					<f:then>
<strong>Keine Allergene nach der ALBA-Liste.</strong><br />
					</f:then>
					<f:else>
<strong>Enthaltene Allergene nach der ALBA-Liste:</strong><br />
<f:format.html>{product.algAlbaText}</f:format.html>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</div>
</div>
