<div class="tx-winetreatment-product">
	<p class="tx-winetreatment-breadcrumb"><f:link.action action="show" controller="Category" arguments="{category : category}">{category.name}</f:link.action></p>
	<p class="tx-winetreatment-product-title"><f:translate key="special_information" /></p>
	<p class="tx-winetreatment-product-name">{product.name}&nbsp;
		<f:link.action action="siPdf" arguments="{product : product}" pageType="123">
			<f:image src="EXT:wine_treatment/Resources/Public/Images/pdf.gif" alt="PDF" title="<f:translate key='generate_pdf' />" />
		</f:link.action>
	</p>
	<div class="tx-winetreatment-product-description">
		<f:format.html>{product.description}</f:format.html>
	</div>
	<div class="tx-winetreatment-product-si">
		<table>
			<thead>
				<tr>
					<th class="date">Datum</th>
					<th class="information">Information</th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{product.specialInformation}" as="information">
					<tr>
						<td class="date"><f:format.date format="d.m.Y">{information.crdate}</f:format.date></td>
						<td><f:format.html>{information.information}</f:format.html>
					</tr>
				</f:for>
			</tbody>
		</table>
	</div>
</div>
