<div class="tx-winetreatment-category">
	<p class="tx-winetreatment-category-show-name">{category.name}</p>
	<div class="tx-winetreatment-list-container">
		<f:if condition="{category.products}">
			<f:then>
				<table class="tx-winetreatment-category-table">
					<thead>
						<tr>
							<th><f:translate key="product" /></th>
							<th><f:translate key="technical_information" /></th>
							<th><f:translate key="gvo" /></th>
							<th><f:translate key="alg" /></th>
							<th><f:translate key="sdb" /></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="6">
								<f:if condition="{category.url}">
									<f:then>
										<f:translate key="additional_information" />: <a href="http://<f:uri.external uri='{category.url}' />" title="<f:translate key='additional_information' />"><f:uri.external uri="{category.url}" /></a>
									</f:then>
								</f:if>
							</td>
						</tr>
					</tfoot>
					<tbody>
					<f:for each="{products}" as="product">
						<tr>
							<td colspan="6" class="tx-winetreatment-category-show-product-name">
								{product.name}
							</td>
						</tr>
						<tr>
							<td class="tx-winetreatment-category-show-product-description">
								<f:format.html>{product.description}</f:format.html>
							</td>
							<td class="ti">
								<f:link.action action="ti" controller="Product" arguments="{product : product}">
									<f:image src="EXT:wine_treatment/Resources/Public/Images/iconTI.gif" alt="<f:translate key='technical_information' />" title="<f:translate key='technical_information' />" height="40" width="40" />
								</f:link.action>
							</td>
							<td class="gvo">
								<f:if condition="{product.gvo}">
									<f:then>
										<f:link.action action="gvo" controller="Product" arguments="{product : product}">
											<f:image src="EXT:wine_treatment/Resources/Public/Images/iconGVO.gif" alt="<f:translate key='gvo' />" title="<f:translate key='gvo' />" height="40" width="40" />
										</f:link.action>
									</f:then>
									<f:else>
										&nbsp;
									</f:else>
								</f:if>
							</td>
							<td class="alg">
								<f:if condition="{product.algDirective}">
									<f:then>
										<f:link.action action="alg" controller="Product" arguments="{product : product}">
											<f:image src="EXT:wine_treatment/Resources/Public/Images/iconALG.gif" alt="<f:translate key='alg' />" title="<f:translate key='alg' />" height="40" width="40" />
										</f:link.action>
									</f:then>
									<f:else>
										<f:if condition="{product.algAlba}">
											<f:then>
												<f:link.action action="alg" controller="Product" arguments="{product : product}">
													<f:image src="EXT:wine_treatment/Resources/Public/Images/iconALG.gif" alt="<f:translate key='alg' />" title="<f:translate key='alg' />" height="40" width="40" />
												</f:link.action>
											</f:then>
											<f:else>
												&nbsp;
											</f:else>
										</f:if>
									</f:else>
								</f:if>
							</td>
							<td class="sdb">
								<f:if condition="{product.sdb}">
									<f:then>
										<f:link.external uri="uploads/tx_winetreatment/{product.sdb}">
											<f:image src="EXT:wine_treatment/Resources/Public/Images/iconSDB.gif" alt="<f:translate key='sdb' />" title="<f:translate key='sdb' />" height="40" width="40" />
										</f:link.external>
									</f:then>
									<f:else>
										&nbsp;
									</f:else>
								</f:if>
							</td>
						</tr>
						<tr class="tx-winetreatment-category-additional">
							<td>
								<f:if condition="{product.wine}">
									<f:then>
										<f:for each="{product.wine}" as="wine">
											<f:image src="uploads/tx_winetreatment/{wine.icon}" alt="Weinart: {wine.name}" title="Weinart: {wine.name}" height="40" width="40" />
										</f:for>
									</f:then>
								</f:if>
								<f:if condition="{product.usages}">
									<f:then>
										<f:for each="{product.usages}" as="usage">
											<f:image src="uploads/tx_winetreatment/{usage.icon}" alt="Anwendung: {usage.name}" title="Anwendung: {usage.name}" height="40" width="40" />
										</f:for>
									</f:then>
								</f:if>
								<f:if condition="{product.functions}">
									<f:then>
										<f:for each="{product.functions}" as="function">
											<f:image src="uploads/tx_winetreatment/{function.icon}" alt="Funktion: {function.name}" title="Funktion: {function.name}" height="40" width="40" />
										</f:for>
									</f:then>
								</f:if>
							</td>
							<td colspan="4" class="si">
								<f:if condition="{product.specialInformation}">
									<f:then>
										<f:link.action action="si" controller="Product" arguments="{product : product}">
											<f:image src="EXT:wine_treatment/Resources/Public/Images/iconSI.gif" alt="<f:translate key='si' />" title="<f:translate key='si' />" height="40" width="40" />
										</f:link.action>
									</f:then>
									<f:else>
										&nbsp;
									</f:else>
								</f:if>
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</f:then>
			<f:else>
				<p><f:translate key="no_products" /></p>
			</f:else>
		</f:if>
	</div>
</div>
